@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:wght@300&display=swap');
body {
  margin: 0;
  font-family: "Funnel Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #FFFFFF;
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-color: #f0f0f0; /* Light grey */
  min-height: 100vh; /* Ensure body takes up full viewport height */
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
  /*align-items: center;*/
}
a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #C1C1C1;
}
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../static/images/roaring-ocean.jpg');
  background-size: cover; /* Or contain, depending on your image */
  background-position: center; /* Center the image */
  z-index: 9998;
  pointer-events: none;
  background-color: slategrey;
}
#loading-message {
  position: absolute; /* Or fixed, depending on your layout */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  pointer-events: none;
}
#loading-screen.shown, #loading-message.shown {
  display: block;
}
#loading-screen.hidden, #loading-message.hidden {
  display: none;
}
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.form-group label {
  width: 100px; /* Adjust width as needed */
  margin-right: 10px;
}
.form-group input[type="text"], .form-group input[type="email"], .form-group input[type="password"] {
  flex-grow: 1;
}
.error-message {
  color: red;
  font-weight: bold;
  margin-top: 5px;
}
#mapid {
  flex: 1;
  position: relative; /* Make map a positioning context */
  background-image: url('../static/images/roaring-ocean.jpg');
  background-size: cover; /* Or 'contain' depending on what you prefer*/
  background-repeat: no-repeat;
  background-position: center; /* Or top, bottom, left, right or any other position you want*/
  background-attachment: fixed;
  background-blend-mode: multiply;
  height: 100vh; /* set the height of the map to 80% of the viewport height  */
  width: 100%; /* set the width to 100% of its parent */
  z-index: 1; /* Prevent any overlap with other elements */
}
#mapid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2); /*Black with opacity*/
  z-index: 1; /* Ensure overlay is above the image but below the map tiles*/
}
#login {
  background-color: #002044;
  border: 0px solid #000000;
  padding: 25px;
  border-radius: 0px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}
.container.top {
  display: flex; /* Center items within this container*/
  justify-content: center;
  align-items: center;
}
.container.bottom {
  padding: 20px;
}
.page-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
@media (max-width : 474px) {
  .page-container {
    min-width: auto;
  }
}
.wag-logo {
  width: 400px;
  height: 250px;
  margin-bottom: -100px; /* Offset to move the logo upwards */
  z-index: 1; /* Ensure overlay is above the image but below the map tiles*/
}
.wag-logo img {
  max-width: 100%;
  max-height: 100%;
}
.wag-logo.menu {
  width: 200px;
  height: 125px;
  margin-bottom: -15px; /* remove any negative margin*/
  z-index: auto;
  margin-top: -20px; /* Offset to move the logo upwards */
}
@media (max-width: 768px) {
  .wag-logo {
    width: 300px;
    height: 219px;
  }
}
@media (max-width: 768px) {
  .wag-logo.menu {
    width: 150px;
    height: 94px;
    margin-bottom: 0px; /* Offset to move the logo upwards */
  }
}
#top-right-panel {
  position: absolute;
  top: 0px;
  left: 21px;
  padding: 25px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  flex: 1; /* Allow panel to take up remaining space */
  align-items: flex-start;
  min-width: 200px;
  max-width: 400px;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 95vh; /* Limit the panel's maximum height */
}
#top-right-panel .button-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: auto; /* Push buttons to the bottom */
}
#top-right-panel .table-container {
  overflow-x: auto; /* Enables horizontal scrolling */
}
#top-right-panel table {
  width: 100%; /* Makes sure that the table take sup the full width */
}
#top-right-panel th, #top-right-panel td {
  padding: 8px;
  font-size: 0.9em;
}
#severity-key {
  border-collapse: collapse; /* Improves table appearance */
  text-align: centre;
  width: 80%;
}
#severity-key th, #severity-key td {
  padding: 5px;
  text-align: centre;
}
.text-severe-extreme {
  color: #FFFFFF;
}
.my-tooltip {
  width: auto;
  min-width: 500px;
  max-width: 500px;
  max-height: 800px; /* Adjust this value as needed */
  background-color: #002044;
  border: 10px solid #898989;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  z-index: 1002;
  text-align: left;
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
  color: #FFFFFF;
  line-height: 1.5;
  box-sizing: border-box;
  overflow-y: auto; /* Add scrollbar when needed */
}
.my-tooltip p {
  margin-bottom: 10px;
  margin-top: 10px;
}
.description-text p {
  margin-bottom: 10px;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .my-tooltip {
    min-width: 200px;
    max-width: 400px;
    font-size: 12px;
    max-height: 600px; /* Adjust this value as needed */
    overflow-y: auto; /* Add scrollbar when needed */
  }
}
.my-tooltip.minor {
  border-color: #00FF00;
}
.my-tooltip.moderate {
  border-color: #FFA500;
}
.my-tooltip.severe {
  border-color: #FF0000;
}
.my-tooltip.extreme {
  border-color: #313131;
}
.my-tooltip.unknown {
  border-color: #313131;
}
.leaflet-popup-content-wrapper.severity-popup {
  background: inherit !important; /* default white background */
  background-color: inherit !important; /* default white background */
}
.leaflet-popup-content-wrapper {
  background: #3282B8;
}
.leaflet-popup-content-wrapper {
  width: auto;
  min-width: 500px;
  max-width: 600px;
  overflow: auto; /* Makes the content scrollable if needed */
}
.leaflet-control-zoom-out {
  background-color: #3282B8;
  color: #333;
  font-size: 30px; /* Adjust the zoom out icon size*/
  width: 30px;
  height: 30px;
  line-height: 30px; /* Vertically center the icon*/
}
.leaflet-control-zoom-out:hover {
  background-color: #ddd;
}
.leaflet-control-zoom-out:active {
  background-color: #ccc;
}
@media (max-width: 768px) {
  .leaflet-popup-content-wrapper {
    min-width: 200px;
    max-width: 400px;
    font-size: 12px;
  }
}
.underline {
  text-decoration: underline;
  text-decoration-thickness: 3px; /* Adjust underline thickness */
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.h-spaced-buttons {
  margin-right: 10px; /* Adjust as needed */
  margin-top: 10px; /* Adjust as needed */
  margin-bottom: 10px; /* Adjust as needed */
}
h1 {
  font-size: 2.5em; /* Size of the heading (em is relative to parent font size) */
  font-weight: bold; /* Font weight (bold, normal, etc.) */
  text-align: center; /* Alignment of the text */
  margin-bottom: 0.5em; /* Spacing below the heading */
  margin-top: 0.5em;
}
h2 {
  font-size: 1.3em;
  font-weight: bold; /* Example of different style for h2 */
  margin-bottom: 0.85em;
  margin-top: 0.85em;
}
h3 {
  font-size: 1.25em;
  font-weight: bold; /* Example of different style for h2 */
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
h4 {
  font-size: 1.25em;
  font-weight: bold; /* Example of different style for h2 */
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
h5 {
  font-size: 0.85em; /* Reduced size for h4 */
  text-align: right;
  font-weight: bold; /* Example of different style for h2 */
  margin-bottom: 1.5em;
  margin-top: 0.5em;
}
@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
  h1 {
    font-size: 1.5em; /* Reduced size for h1 */
  }
  h2 {
    font-size: 1.2em; /* Reduced size for h2 */
  }
  h3 {
    font-size: 1em; /* Reduced size for h3 */
  }
  h4 {
    font-size: 0.9em; /* Reduced size for h4 */
  }
  p {
    font-size: 0.9em; /* Reduced font size for paragraphs */
    line-height: 1.4; /* Slightly adjusted line-height for readability */
  }
  .btn {
    font-size: 12px;
    padding: .375rem .3rem;
  }
}
@media (max-width: 768px) {
  .button-container a.btn, .button-container button.btn { /* Added this line to target button elements */
    padding: 0.25rem 0.5rem;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  .h-spaced-buttons { /* Also modify if needed */
    margin-right: 10px; /* Reduced right margin */
    margin-top: 5px; /* Reduced top margin */
    margin-bottom: 5px; /* Reduced bottom margin */
  }
}
.hamburger-button {
  position: fixed;
  top: 80px;
  right: 20px;
  font-size: 2rem;
  background: #FFFFFF;
  border: none;
  cursor: pointer;
  z-index: 1000;
}
.mobile-nav {
  position: fixed;
  top: 40px;
  right: -400px; /* Changed from left to right */
  width: 400px;
  height: 100vh;
  background-color: #002044;
  border-width: 0px 0px 0px 20px;
  border-style: solid;
  border-color: #3282B8;
  padding-top: 80px;
  transition: right 0.5s ease; /* Changed transition direction */
  z-index: 999;
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack content vertically */
}
.mobile-nav.open {
  right: 0; /* Changed from left to right */
}
.mobile-nav ul {
  list-style: none;
  padding: 0;
}
.mobile-nav li {
  padding: 10px 20px;
}
@media (max-width: 768px) {
  .mobile-nav {
    right: -400px; /* Ensure it is hidden on page load */
  }
}
.severity-key-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between rows */
  width: 100%;
}
.severity-row {
  display: flex;
  align-items: center;
}
.severity-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  color: black;
}
.severity-text {
  flex-grow: 1;
  text-align: left;
}
@media (max-width: 768px) {
  .severity-key-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .severity-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .severity-square {
    margin-right: 0px;
    width: 50px;
    height: 50px;
  }
  .severity-text {
    display: none; /* Hide text labels on mobile */
  }
}
@media (min-width: 768px) {
  .severity-key-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }
  .severity-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .severity-square {
    width: 60px;
    height: 60px;
  }
  .severity-text {
    display: block;
  }
}
.button-container a.btn, .button-container button.btn, .my-tooltip .btn, .leaflet-popup-content-wrapper .btn {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  margin-bottom: 10px;
  text-decoration: none;
  margin-right: 20px;
  line-height: 1.5; /* Set line height to match main buttons */
  font-weight: 300; /* Ensure font weight matches main buttons */
}
.h-spaced-buttons, .my-tooltip .h-spaced-buttons, .leaflet-popup-content-wrapper .h-spaced-buttons {
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.login-welcome {
  align-items: center;
}
#app-title {
  align-items: center;
  flex-direction: column;
  display: flex;
}
.modal-content {
  background-color: #3282B8;
}
.fixed-bottom {
  padding: 20px;
}