<!--

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Snap Carousel</title>
<link href="../static/styles.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../static/carousel-style.css">
</head>
<body>

	-->
<div class="date-carousel-container">
  <div class="date-carousel">
    <button class="date-carousel-item" data-date="date-1">
    <h3>Day Date Month</h3>
    <p>Warning Count</p>
    </button>
    <button class="date-carousel-item" data-date="date-2">
    <h3>Day Date Month</h3>
    <p>Warning Count</p>
    </button>
    <button class="date-carousel-item" data-date="date-3">
    <h3>Day Date Month</h3>
    <p>Warning Count</p>
    </button>
    <button class="date-carousel-item" id="today-carousel-item" data-date="today">
    <h3>Day Date Month</h3>
    <p>Warning Count</p>
    </button>
    <button class="date-carousel-item" data-date="date-5">
    <h3>Day Date Month</h3>
    <p>Warning Count</p>
    </button>
    <button class="date-carousel-item" data-date="date-6">
    <h3>Day Date Month</h3>
    <p>Warning Count</p>
    </button>
    <button class="date-carousel-item" data-date="date-7">
    <h3>Day Date Month</h3>
    <p>Warning Count</p>
    </button>
  </div>
</div>
<div class="info-menu-container">
  <div class="severity-key-container">
    <div class="severity-row">
      <button class="severity-square" style="background-color: #00FF00;">
      <h4 id="minor-alerts">{{ minor_alerts }}</h4>
      </button>
      <div class="severity-text">
        <h4>Minor</h4>
      </div>
    </div>
    <div class="severity-row">
      <button class="severity-square" style="background-color: #FFA500;">
      <h4 id="moderate-alerts">{{ moderate_alerts }}</h4>
      </button>
      <div class="severity-text">
        <h4>Moderate</h4>
      </div>
    </div>
    <div class="severity-row">
      <button class="severity-square" style="background-color: #FF0000;">
      <h4 id="severe-alerts">{{ severe_alerts }}</h4>
      </button>
      <div class="severity-text">
        <h4>Severe</h4>
      </div>
    </div>
    <div class="severity-row">
      <button class="severity-square" style="background-color: #313131;">
      <h4 id="extreme-alerts">{{ extreme_alerts }}</h4>
      </button>
      <div class="severity-text">
        <h4>Extreme</h4>
      </div>
    </div>
    <div class="severity-row">
      <button class="severity-square" style="background-color: #313131;">
      <h4 id="unknown-alerts">{{ unknown_alerts }}</h4>
      </button>
      <div class="severity-text">
        <h4>Unknown</h4>
      </div>
    </div>
  </div>
</div>

<!--
</body>
<script src="../static/carousel-script.js"></script>
<script src="../static/alert-filter.js"></script>
</html>	

--> 
