{% extends 'base.html' %}

{% block title %}Welcome | {{ super() }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{{ url_for('static', filename='carousel-style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='nav-side.css') }}">
{% endblock %}

{% block content %}
<div id="loading-bar-container" class="hidden">
  <div id="loading-bar"></div>
</div>
<div id="mapid"></div>
<div id="loading-screen"></div>
<div id="loading-message">
  <div id="login">
    <p>
    <h3><b>Gathering Weather Alerts Global Data...</b></h3>
    </p>
    <p>Please be patient</p>
  </div>
</div>
{% include 'nav-side.html' %}
<div id="createAlertModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create Alert Zone</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <input type="text" id="alertName" placeholder="Alert Name" class="form-control mb-2">
        <br>
        <textarea id="alertDescription" placeholder="Describe your alert" class="form-control mb-2"></textarea>
        <br>
        <div id="alertZonePreview"> 
          <!-- GeoJSON preview will go here --> 
        </div>
      </div>
      <div class="modal-footer">
        <p>Enable e-mail alerts
          <input type="checkbox" class="email-alerts" data-alert-id="{{current_user.id}}"/>
        </p>
        <button id="cancel-button" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" id="createAlertSubmit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>
{% include 'carousel.html' %}
{% endblock %}


{% block bottom_scripts %} 
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script> 
<script src="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script> 
<script src="{{ url_for('static', filename='main.js') }}"></script> 
<script src="{{ url_for('static', filename='carousel-script.js') }}"></script> 
<script src="{{ url_for('static', filename='alert-filter.js') }}"></script> 
<script src="{{ url_for('static', filename='nav-side.js') }}"></script> 
{% endblock %} 