{% extends 'base.html' %}

{% block title %}Login | {{ super() }}{% endblock %}

{% block head %}
<style>
  body {
    background-image: url({{ url_for('static', filename='images/stormy-sea-art.jpg') }});
  }
</style>
{% endblock %}

{% block content %}
<div class="page-container">
  <div class="container top">
    <div class="wag-logo">
      <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='images/WAG-brand.png') }}" alt="Weather Alerts Global">
      </a>
    </div>
  </div>
  <div class="container bottom">
    <div id="login">
      <h1>Weather Alerts Global</h1>
      <h2>Login</h2>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <form method="POST">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div class="d-flex"> <!-- Important: Add the d-flex class -->
          <button type="submit" class="btn btn-primary h-spaced-buttons">Login</button>
          <a href="{{ url_for('register') }}" class="btn btn-primary h-spaced-buttons">Register</a>
          <a href="{{ url_for('forgot') }}" class="btn btn-primary h-spaced-buttons">Forgot password?</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}