<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Weather Alerts Global</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/styles.css">
    <style>
body {
  background-image: url(../static/images/stormy-sea-art.jpg); /* Your image path */
	}
 </style>
</head>

<body>
<div class="page-container">
  <div class="container top">
    <div class="wag-logo">
      <a href="{{ url_for('index') }}">
        <img src="../static/images/WAG-brand.png" alt="Weather Alerts Global">
      </a>
    </div>
  </div>
  <div class="container bottom">
<div id="login">	
	<h1>Weather Alerts Global</h1>
    <h2>Login</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <form method="POST">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
    <div class="d-flex">  <!-- Important: Add the d-flex class -->
    <button type="submit" class="btn btn-primary h-spaced-buttons">Login</button>
    <a href="{{ url_for('register') }}" class="btn btn-primary h-spaced-buttons">Register</a>
    <a href="{{ url_for('forgot') }}" class="btn btn-primary h-spaced-buttons">Forgot password?</a>
	</div>
		</form>
    </div>
  </div>
</div>
</body>
</html>