<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4E0TWQ9M43"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4E0TWQ9M43');
</script>
    <title>Welcome to Weather Alerts Global</title>
	<link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <!-- header content -->
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- footer content -->
    </footer>
</body>
</html>