<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="https://app.termly.io/resource-blocker/41a0dc0a-edce-413c-aba8-f73cc931bead?autoBlock=on"></script>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4E0TWQ9M43"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4E0TWQ9M43');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Weather Alerts Global</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/styles.css">
    <style>
body {
  background-image: url(../static/images/blizzard-road-art.jpg); /* Your image path */
	}
    </style>
</head>

<body>
	{% include 'navbar.html' %}
<div class="page-container">
  <div class="container top">
    <div class="wag-logo">
      <a href="{{ url_for('index') }}">
        <img src="../static/images/WAG-brand.png" alt="Weather Alerts Global">
      </a>
    </div>
  </div>
  <div class="container bottom">
<div id="login">	
			<h1>Weather Alerts Global</h1>
            <h2>Register</h2>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <form id="registerForm" method="POST">
                <p>Registration is limited to the specific domains.</p>
				                {% if error_message %}
                    <div id="error-message-container"> </div>
                {% endif %}
				<p>If you would like access please e-mail <a href="mailto:support@weatheralerts.global">support@weatheralerts.global</a></p>
                <div class="form-group">
                    <label for="first_name">First Name:</label>
                    <input type="text" id="first_name" name="first_name" required>
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name:</label>
                    <input type="text" id="last_name" name="last_name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
				<div class="d-flex">
                <button type="submit" class="btn btn-primary h-spaced-buttons">Register</button>
            </div>
				</form>
            <p>Upon successful registration, a verification email will be sent to your email address.</p>
    </div>
  </div>
</div>

    <script>
document.addEventListener('DOMContentLoaded', function() {
    const registerForm = document.getElementById('registerForm');
    const errorMessageContainer = document.getElementById('error-message-container');

    if (registerForm) {
        registerForm.addEventListener('submit', function(event) {
            const email = document.getElementById("email").value;
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

            if (!emailRegex.test(email)) {
                event.preventDefault();
                alert("Please enter a valid email address.");
                document.getElementById("email").focus();
            }
        });
    } else {
        console.error("Form element with ID 'registerForm' not found.");
    }

    if (errorMessageContainer) {
        const errorMessage = '{{ error_message }}'.trim();
        if (errorMessage !== "") {
            const errorParagraph = document.createElement('p');
            errorParagraph.textContent = errorMessage;
            errorParagraph.className = 'error-message';
            errorMessageContainer.appendChild(errorParagraph);
        }
    } else {
        console.error("Container element with ID 'error-message-container' not found.");
    }
});
    </script>
	    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>