<!DOCTYPE html>
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4E0TWQ9M43"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4E0TWQ9M43');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Weather Alerts Global</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/styles.css">
    <style>
body {
  background-image: url(../static/images/stormy-sea-art.jpg); /* Your image path */
	}
	</style>
</head>

<body>
<div class="page-container">
  <div class="container top">
    <div class="wag-logo">
      <a href="{{ url_for('index') }}">
        <img src="../static/images/WAG-brand.png" alt="Weather Alerts Global">
      </a>
    </div>
  </div>
  <div class="container bottom">
<div id="login">	
{% extends "main.html" %}
{% block content %}
	<h1>Weather Alerts Global</h1>
    <h2>Reset Password</h2>
    <form method="POST">
		<div class="form-group">
        <input type="password" name="password" placeholder="New password">
        <input type="password" name="confirm" placeholder="Re-enter password">
		</div>
		<div class="d-flex"> 
        <button type="submit" class="btn btn-primary h-spaced-buttons">Update Password</button>
		</div>
	</form>
{% endblock %}
    </div>
  </div>
</div>
</body>
</html>