<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Weather Alerts Global</title>
	<link rel="stylesheet" href="../static/styles.css">
    <style>
body {
  background-image: url(../static/images/stormy-sea-art.jpg); /* Your image path */
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-color: #f0f0f0; /* Light grey */
  display: flex; /* Enable flexbox on the body */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Ensure body takes up full viewport height */
	}
</head>

<body>

<div class="container">
  <a href="{{ url_for('index') }}"> <img src="../static/images/WAG-brand.png" alt="Weather Alerts Global" class="wag-logo"></a>
<div id="login">	
{% extends "main.html" %}
{% block content %}
    <h1>Reset Password</h1>
    <form method="POST">
        <input type="password" name="password" placeholder="New password">
        <input type="password" name="confirm" placeholder="Re-enter password">
        <input type="submit" value="Update Password">
    </form>
{% endblock %}
</div>
	</div>
</body>
</html>